# =========================
# Python
# =========================
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
**/.env
**/env.env

# =========================
# Java / Spring Boot
# =========================
**/target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# =========================
# NodeJS / React
# =========================
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build React
**/build/

# =========================
# IDE
# =========================
.idea/
.vscode/
.project
.classpath
.settings/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db